.live4gopro-stream
  min-width 640px
  background-color #111
  font-family "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif
  .details
    padding 35px 20px 85px  
    .geo, 
    time
      margin-bottom 30px
      font-size 28px
      line-height 34px
      color #ccc
      display block
      padding 0 0 0 50px 
    .geo
      background url("../svg/geo.svg") 0 50% no-repeat
    time
      background url("../svg/datetime.svg") 0 50% no-repeat
    nav
      margin-top -2px
      display flex
      flex-direction row
      flex-wrap nowrap
      justify-content space-between
      a
        display inline-block
        border-radius 2px
        border 2px solid #34AADC
        width 178px
        white-space nowrap
        box-sizing border-box
        line-height 46px
        font-size 28px
        color #FFF
        text-decoration none 
        padding 0 10px 0 46px 
        &.fb
          background url("../svg/facebook.svg") 7px 50% no-repeat
        &.tw
          background url("../svg/twitter.svg") 7px 50% no-repeat
        &.copy
          background url("../svg/link.svg") 7px 50% no-repeat
        